body{
	width: 90%;
	margin: 10px auto;
	border: 3px solid black;
	-moz-border-radius: 12px;
  	-webkit-border-radius: 12px;
    border-radius: 12px;
}

h1, h2{
	font-family: 'Geo', arial, serif; 
	text-align: center;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2em;
	margin-bottom: 10px;
}

#countriesChart, #sentimentChart, #tweets{
	width: 80%;
	height: 400px;
	margin: 35px auto;
}

#translatedTweets{
	overflow: auto;
	height: 350px;
}

.translatedTweet{
	margin-bottom: 15px;
	border: 1px solid silver;
	padding: 8px;

	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
	
	width: 95%;
	
}

.translatedTweet img{
	margin-right: 20px;
	vertical-align: middle;
	float: left;
}

.translatedTweet div{
	float: left;
	width: 85%;
}

.translatedTweet span{
	display: block;
}

.translatedTweet .english{
	color: #444;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


